@model TearmaWeb.Models.Home.AdvSearch
@using TearmaWeb.Models.Home
@removeTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout="_HomeLayout";
    ViewBag.swapper="plus";
}

@section Rightie {
    @if(Model.word!=""){
        <div class="kickbox">
	        <a class="sitelink" id="showAllDetails" href="javascript:showAllDetails()">
                <span class="icon fas fa-plus-square"></span>
                <span class="ga" lang="ga">Taispeáin breis mionsonraí</span>
                <span class="en" lang="en">Show more details</span>
            </a>
	        <a class="sitelink" id="hideAllDetails" href="javascript:hideAllDetails()">
                <span class="icon fas fa-minus-square"></span>
                <span class="ga" lang="ga">Folaigh mionsonraí breise</span>
                <span class="en" lang="en">Hide details</span>
            </a>
            <a class="sitelink" href="javascript:printableOn()">
                <span class="icon fas fa-print"></span>
                <span class="ga" lang="ga">Leagan furasta le priontáil</span>
                <span class="en" lang="en">Printer-friendly version</span>
            </a>
        </div>
    }
}

<form class="multiline" action="." onsubmit="return submitAdvSearch(this)">
    <div class="lines">
        <div class="line">
            <div class="label"><span class="text ga" lang="ga">Foclaíocht</span><span class="text en" lang="en">Wording</span></div>
            <input name="word" value="@Model.word" class="searchbox" onblur="searchboxBlur()"/>
        </div>
        <div class="line">
            <div class="label"><span class="text ga" lang="ga">Fad</span><span class="text en" lang="en">Length</span></div>
            <select name="length" size="1" onfocus="this.size='4'" onblur="this.size='1'">
                <option value="al" @(Model.length=="al" ? "selected" : "")>téarmaí aonfhoclacha agus ilfhoclacha &middot; single-word and muti-word terms</option>
                <option value="sw" @(Model.length=="sw" ? "selected" : "")>téarmaí aonfhoclacha amháin &middot; single-word terms only</option>
                <option value="mw" @(Model.length=="mw" ? "selected" : "")>téarmaí ilfhoclacha amháin &middot; multi-word terms only</option>
            </select>
        </div>
        <div class="line">
            <div class="label"><span class="text ga" lang="ga">Fairsinge</span><span class="text en" lang="en">Extent</span></div>
            <select name="extent" size="1" onfocus="this.size='8'" onblur="this.size='1'">
                <option value="al" @(Model.extent=="al" ? "selected" : "")>téarma iomlán &middot; complete term</option>
                <option value="st" @(Model.extent=="st" ? "selected" : "")>tús téarma &middot; start of term</option>
                <option value="ed" @(Model.extent=="ed" ? "selected" : "")>deireadh téarma &middot; end of term</option>
                <option value="pt" @(Model.extent=="pt" ? "selected" : "")>cuid ar bith de théarma &middot; any part of term</option>
                <option value="md" @(Model.extent=="md" ? "selected" : "")>cuid ar bith seachas tús nó deireadh &middot; any part except start or end</option>
                <option value="ft" @(Model.extent=="ft" ? "selected" : "")>téarmaí gaolmhara &middot; related terms</option>
            </select>
        </div>
        <div class="line">
            <div class="label"><span class="text ga" lang="ga">Teanga</span><span class="text en" lang="en">Language</span></div>
            <select name="lang" onchange="advChangeLang(this)" size="1" onfocus="this.size='10'" onblur="this.size='1'">
                <option value="0" @(Model.lang=="" ? "selected" : "")>teanga ar bith &middot; any language</option>
                @foreach(Language lang in Model.langs) {
                    <option value="@lang.abbr" @(Model.lang==lang.abbr ? "selected" : "")>@lang.abbr.ToUpper() (@lang.name["ga"] &middot; @lang.name["en"])</option>
                }
            </select>
        </div>
        <div class="line">
            <div class="label"><span class="text ga" lang="ga">Roinn chainte</span><span class="text en" lang="en">Part of speech</span></div>
            <select name="pos" size="1" onfocus="this.size='10'" onblur="this.size='1'">
                <option value="0" data-isfor="" @(Model.posLabel==0 ? "selected" : "")>roinn chainte ar bith &middot; any part of speech</option>
                @foreach(Metadatum datum in Model.posLabels) {
                    <option value="@datum.id" data-isfor="@datum.isfor" @(Model.posLabel==datum.id ? "selected" : "")>@datum.abbr (@datum.name["ga"] &middot; @datum.name["en"])</option>
                }
            </select>
        </div>
        <div class="line">
            <div class="label"><span class="text ga" lang="ga">Réimse</span><span class="text en" lang="en">Domain</span></div>
            <select name="dom" id="dom" size="1" onfocus="this.size='10'; advDomTitles(this)" onblur="this.size='1'; advDomTitles(this)">
                <option value="0">réimse ar bith &middot; any domain</option>
            </select>
            <script type="text/javascript">
                var allDomains = [];
            </script>
            @foreach(Metadatum datum in Model.domains) {
                <script type="text/javascript">
                    allDomains.push({
                        id: @datum.id,
                        title: "@datum.name["ga"] &middot; @datum.name["en"]",
                        parentID: @datum.parentID,
                        hasChildren: @datum.hasChildren.ToString().ToLower(),
                    });
                </script>
            }
            <script type="text/javascript">
                advDomRefill(@Model.domainID);
            </script>
        </div>
    </div>
    <button class="submit">
        <span class="icon fas fa-search"></span>
        <span class="text ga" lang="ga">Cuardaigh</span><span class="text en" lang="en">Search</span>
    </button>
    <script type="text/javascript">
        advChangeLang(document.forms[0]["lang"]);
    </script>
</form>
@if(Model.word==""){ <script type="text/javascript">document.forms[0]["word"].focus();</script> }
<div class="underform">
    <div class="left">
        <span class="ga" lang="ga"><a href="~/cabhair/cuardach-casta.ga">Treoir don chuardach casta</a></span>
        <span class="en" lang="en"><a href="~/cabhair/cuardach-casta.en">Help with advanced search</a></span>
    </div>
</div>

 @if(Model.word!=""){
     <a class="kickboxToggler mergeUp" href="javascript:void(null)" onclick="$('.kickbox').insertAfter($('.kickboxToggler')).slideToggle()">
        <span class="icon fas fa-bars"></span>
        <span class="text ga" lang="ga">Roghanna</span>
        <span class="text en" lang="en">Options</span>
    </a>

    @if(Model.pager.needed) {
        <div class="pager alone">
            @if(Model.pager.prevNum>0){ <a href="@Model.urlByPage(Model.pager.prevNum)" class="left arrow">«</a> }
            @if(Model.pager.nextNum>0){ <a href="@Model.urlByPage(Model.pager.nextNum)" class="right arrow">»</a> }
            @foreach(int num in Model.pager.startNums) { <a href="@Model.urlByPage(num)" class="page">@num</a> }
            @if(Model.pager.preDots) { <span class="dots">&middot; &middot; &middot; &middot;</span> }
            @foreach(int num in Model.pager.preNums) { <a href="@Model.urlByPage(num)" class="page">@num</a> }
	        <a href="#" class="page current">@Model.pager.currentNum</a>
            @foreach(int num in Model.pager.postNums) { <a href="@Model.urlByPage(num)" class="page">@num</a> }
            @if(Model.pager.postDots) { <span class="dots">&middot; &middot; &middot; &middot;</span> }
            @foreach(int num in Model.pager.endNums) { <a href="@Model.urlByPage(num)" class="page">@num</a> }
        </div>
    }

    @if(Model.matches.Count == 0) {
        <div class="nojoy">
            <div class="ga">Níor aimsíodh téarma ar bith.</div>
            <div class="en">No terms found.</div>
        </div>
    } else {
        @foreach(string s in Model.matches){@Html.Raw(s)}
    }

    @if(Model.pager.needed) {
        <div class="pager">
            @if(Model.pager.prevNum>0){ <a href="@Model.urlByPage(Model.pager.prevNum)" class="left arrow">«</a> }
            @if(Model.pager.nextNum>0){ <a href="@Model.urlByPage(Model.pager.nextNum)" class="right arrow">»</a> }
            @foreach(int num in Model.pager.startNums) { <a href="@Model.urlByPage(num)" class="page">@num</a> }
            @if(Model.pager.preDots) { <span class="dots">&middot; &middot; &middot; &middot;</span> }
            @foreach(int num in Model.pager.preNums) { <a href="@Model.urlByPage(num)" class="page">@num</a> }
	        <a href="#" class="page current">@Model.pager.currentNum</a>
            @foreach(int num in Model.pager.postNums) { <a href="@Model.urlByPage(num)" class="page">@num</a> }
            @if(Model.pager.postDots) { <span class="dots">&middot; &middot; &middot; &middot;</span> }
            @foreach(int num in Model.pager.endNums) { <a href="@Model.urlByPage(num)" class="page">@num</a> }
        </div>
    }
 }