@model TearmaWeb.Models.Home.Domain
@using TearmaWeb.Models.Home

@{
    Layout="_HomeLayout";
    ViewBag.swapper="dom";
}

@section Rightie {
    <div class="kickbox">
	    <a class="langlink @(Model.Lang=="ga" ? "selected": "")" href="@Model.UrlByLang("ga")">
            <span class="icon">GA</span>
            <span class="ga" lang="ga">Sórtáil i nGaeilge</span>
            <span class="en" lang="en">Sort by Irish</span>
        </a>
		<a class="langlink @(Model.Lang=="en" ? "selected": "")" href="@Model.UrlByLang("en")">
            <span class="icon">EN</span>
            <span class="ga" lang="ga">Sórtáil i mBéarla</span>
            <span class="en" lang="en">Sort by English</span>
        </a>
        <div class="sep"></div>
	    <a class="sitelink" id="showAllDetails" href="javascript:showAllDetails()">
            <span class="icon fas fa-plus-square"></span>
            <span class="ga" lang="ga">Taispeáin breis mionsonraí</span>
            <span class="en" lang="en">Show more details</span>
        </a>
	    <a class="sitelink" id="hideAllDetails" href="javascript:hideAllDetails()">
            <span class="icon fas fa-minus-square"></span>
            <span class="ga" lang="ga">Folaigh mionsonraí breise</span>
            <span class="en" lang="en">Hide details</span>
        </a>
        <a class="sitelink" href="javascript:printableOn()">
	        <span class="icon fas fa-print"></span>
	        <span class="ga" lang="ga">Leagan furasta le priontáil</span>
	        <span class="en" lang="en">Printer-friendly version</span>
	    </a>
    </div>
}

<a class="domainAction" href="~/dom/@Model.Lang/">
	<span class="icon fas fa-chevron-circle-left"></span>
	<span class="ga" lang="ga">Gach réimse</span>
	<span class="en" lang="en">All domains</span>
</a>
<div class="domains formlike scrollable">
    @{int level = 0;}
    @foreach (DomainListing domain in Model.Parents)
    {
        <a href="~/dom/@domain.Id/@Model.Lang/" class="domain L@(level) current">
            <span class="ga" lang="@Model.LeftLang()">@Html.Raw(domain.GetExpandedTitle(Model.LeftLang()))</span>
            <span class="en" lang="@Model.RightLang()">@Html.Raw(domain.GetExpandedTitle(Model.RightLang()))</span>
        </a>
        level++;
    }
    <a href="~/dom/@Model.DomID/@Model.Lang/" class="domain L@(level) current selected">
        <span class="ga" lang="@Model.LeftLang()">@Html.Raw(Model.DomainListing?.GetExpandedTitle(Model.LeftLang()))</span>
        <span class="en" lang="@Model.RightLang()">@Html.Raw(Model.DomainListing?.GetExpandedTitle(Model.RightLang()))</span>
    </a>
    @{level++;}
    @foreach (DomainListing domain in Model.Subdomains)
    {
        <a href="~/dom/@domain.Id/@Model.Lang/" class="domain L@(level)">
            <span class="ga" lang="@Model.LeftLang()">@Html.Raw(domain.GetExpandableTitle(Model.LeftLang()))</span>
            <span class="en" lang="@Model.RightLang()">@Html.Raw(domain.GetExpandableTitle(Model.RightLang()))</span>
        </a>
    }
</div>

<a class="kickboxToggler" href="javascript:void(null)" onclick="$('.kickbox').insertAfter($('.kickboxToggler')).slideToggle()">
    <span class="icon fas fa-bars"></span>
    <span class="text ga" lang="ga">Roghanna</span>
    <span class="text en" lang="en">Options</span>
</a>

<div class="unheadedListing">
    @if (Model.Matches.Count == 0)
    {
        <div class="nojoy">
            <div class="ga">Níor aimsíodh téarma ar bith.</div>
            <div class="en">No terms found.</div>
        </div>
    } else {
        <div class="nojoy">
            <div class="num">@Model.Total</div>
            <div class="ga">Líon torthaí a aimsíodh</div>
            <div class="en">Number of matches found</div>
        </div>
    }

    @if (Model.Pager?.Needed == true)
    {
        <div class="pager alone">
            @if(Model.Pager.PrevNum>0){ <a href="@Model.UrlByPage(Model.Pager.PrevNum)" class="left arrow">«</a> }
            @if(Model.Pager.NextNum>0){ <a href="@Model.UrlByPage(Model.Pager.NextNum)" class="right arrow">»</a> }
            @foreach(int num in Model.Pager.StartNums) { <a href="@Model.UrlByPage(num)" class="page">@num</a> }
            @if(Model.Pager.PreDots) { <span class="dots">&middot; &middot; &middot; &middot;</span> }
            @foreach(int num in Model.Pager.PreNums) { <a href="@Model.UrlByPage(num)" class="page">@num</a> }
            <a href="#" class="page current">@Model.Pager.CurrentNum</a>
            @foreach(int num in Model.Pager.PostNums) { <a href="@Model.UrlByPage(num)" class="page">@num</a> }
            @if(Model.Pager.PostDots) { <span class="dots">&middot; &middot; &middot; &middot;</span> }
            @foreach(int num in Model.Pager.EndNums) { <a href="@Model.UrlByPage(num)" class="page">@num</a> }
        </div>
    }

    @foreach(string s in Model.Matches){@Html.Raw(s)}

    @if (Model.Pager?.Needed == true)
    {
        <div class="pager">
            @if(Model.Pager.PrevNum>0){ <a href="@Model.UrlByPage(Model.Pager.PrevNum)" class="left arrow">«</a> }
            @if(Model.Pager.NextNum>0){ <a href="@Model.UrlByPage(Model.Pager.NextNum)" class="right arrow">»</a> }
            @foreach(int num in Model.Pager.StartNums) { <a href="@Model.UrlByPage(num)" class="page">@num</a> }
            @if(Model.Pager.PreDots) { <span class="dots">&middot; &middot; &middot; &middot;</span> }
            @foreach(int num in Model.Pager.PreNums) { <a href="@Model.UrlByPage(num)" class="page">@num</a> }
	        <a href="#" class="page current">@Model.Pager.CurrentNum</a>
            @foreach(int num in Model.Pager.PostNums) { <a href="@Model.UrlByPage(num)" class="page">@num</a> }
            @if(Model.Pager.PostDots) { <span class="dots">&middot; &middot; &middot; &middot;</span> }
            @foreach(int num in Model.Pager.EndNums) { <a href="@Model.UrlByPage(num)" class="page">@num</a> }
        </div>
    }
</div>
