@model TearmaWeb.Models.Home.Domains
@using TearmaWeb.Models.Home

@{
    Layout="_HomeLayout";
    ViewBag.swapper="dom";
}

@section Rightie {
    <div class="kickbox">
	    <a class="langlink @(Model.Lang == "ga" ? "selected": "")" href="~/dom/ga/">
            <span class="icon">GA</span>
            <span class="ga" lang="ga">Sórtáil i nGaeilge</span>
            <span class="en" lang="en">Sort by Irish</span>
        </a>
		<a class="langlink @(Model.Lang == "en" ? "selected": "")" href="~/dom/en/">
            <span class="icon">EN</span>
            <span class="ga" lang="ga">Sórtáil i mBéarla</span>
            <span class="en" lang="en">Sort by English</span>
        </a>
    </div>
}

<a class="kickboxToggler mergeWayUp" href="javascript:void(null)" onclick="$('.kickbox').insertAfter($('.kickboxToggler')).slideToggle()">
    <span class="icon fas fa-bars"></span>
    <span class="text ga" lang="ga">Roghanna</span>
    <span class="text en" lang="en">Options</span>
</a>

<div class="domains formlike">
    @foreach (DomainListing dom in Model.DomainsList)
    {
        <a href="~/dom/@dom.Id/@Model.Lang/" class="domain"><span class="ga" lang="@Model.LeftLang()">@Html.Raw(dom.GetExpandableTitle(Model.LeftLang()))</span> <span class="en" lang="@Model.RightLang()">@Html.Raw(dom.GetExpandableTitle(Model.RightLang()))</span></a>
    }
</div>