<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<link rel="icon" type="image/x-icon" href="~/favicon.ico"/>
		<title>téarma.ie</title>
        <!--<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>-->
        <script type="text/javascript" src="~/furniture/jquery.js"></script>
		<script type="text/javascript" src="~/furniture/furniture.js"></script>
		<link type="text/css" rel="stylesheet" href="~/furniture/furniture.css"/>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous"/>
	</head>
	<body>

    <div class="topbar">
        <div class="inside">
            <a class="current" href="~/"><img src="~/furniture/minilogo-tearma.png"/><span>téarma.ie</span></a><a class="focloir" href="https://www.focloir.ie/" target="_blank"><img src="~/furniture/minilogo-white.png"/><span>foclóir.ie</span></a><a class="teanglann" href="https://www.teanglann.ie/" target="_blank"><img src="~/furniture/minilogo-white.png"/><span>teanglann.ie</span></a><a class="minor gaois" href="https://www.gaois.ie/" target="_blank"><img src="~/furniture/gaois-white.png"/><span>gaois.ie</span></a><a class="minor logainm" href="https://www.logainm.ie/" target="_blank"><img src="~/furniture/logainm-white.png"/><span>logainm.ie</span></a></div>
        </div>

    <div class="envelope">
        <div class="rightie">
            <a class="printableOff" href="javascript:printableOff()">
	            <span class="icon fas fa-desktop"></span>
	            <span class="ga" lang="ga">Ar ais chuig leagan don scáileán</span>
	            <span class="en" lang="en">Back to screen version</span>
	        </a>
            <div class="logobox">
                <a href="~/" class="logo"><img src="~/furniture/tearma.png" alt="téarma.ie"/></a>
                <div class="title"><span class="ga" lang="ga">Bunachar Náisiúnta Téarmaíochta don Ghaeilge</span> &middot; <span class="en" lang="en">National Terminology Database for Irish</span></div>
                <div class="icons">
                    <a target="_blank" href="https://www.facebook.com/tearma.ie/" class="facebook fab fa-facebook"></a>
                    <a target="_blank" href="https://twitter.com/tearma_ie" class="twitter fab fa-twitter"></a>
                    <a target="_blank" href="https://www.instagram.com/tearma_ie/" class="instagram fab fa-instagram"></a>
                </div>
            </div>
            @RenderSection("Rightie")

        </div>
        <div class="leftie">
            <div class="swapper">
                <a href="~/" class="@(ViewBag.swapper=="q" ? "current" : "")">
                    <span class="icon fas fa-search"></span>
                    <span class="ga" lang="ga">Cuardach tapa</span>
                    <span class="en" lang="en">Quick search</span>
                </a>
                <a  href="~/plus/" class="@(ViewBag.swapper=="plus" ? "current" : "")">
                    <span class="icon fas fa-search-plus"></span>
                    <span class="ga" lang="ga">Cuardach casta</span>
                    <span class="en" lang="en">Advanced search</span>
                </a>
                <a  href="~/dom/ga/" class="@(ViewBag.swapper=="dom" ? "current" : "")">
                    <span class="icon fas fa-sitemap"></span>
                    <span class="ga" lang="ga">Brabhsáil</span>
                    <span class="en" lang="en">Browse</span>
                </a>
            </div>

            @RenderBody()

        </div>
    </div>

    <div class="footer">
        <div class="inside">
            <div class="logos">
                <a target="_blank" href="https://www.forasnagaeilge.ie/" class="fnag"><img src="~/furniture/fnag.png" alt="Foras na Gaeilge"/></a>
                <a target="_blank" href="https://www.dcu.ie/" class="dcu"><img src="~/furniture/dcu.png" alt="DCU"/></a>
            </div>
            <div class="statement">
                <div><span class="label">Sonraí téarmaíochta © 2006–2018</span> <a target="_blank" href="https://www.forasnagaeilge.ie/">Foras na Gaeilge</a></div>
                <div><span class="label">Réiteach teicniúil © 2006–2018</span> <a target="_blank" href="https://www.gaois.ie/">Fiontar &amp; Scoil na Gaeilge, DCU</a></div>
            </div>
            <div class="icons">
                <a target="_blank" href="https://www.facebook.com/tearma.ie/" class="facebook fab fa-facebook"></a>
                <a target="_blank" href="https://twitter.com/tearma_ie" class="twitter fab fa-twitter"></a>
                <a target="_blank" href="https://www.instagram.com/tearma_ie/" class="instagram fab fa-instagram"></a>
            </div>
            <div class="sitelinks">
                <a class="sitelink" href="~/info/">
                    <span class="icon fas fa-info-circle"></span>
                    <span class="ga" lang="ga">Eolas faoin suíomh seo</span>
                    <span class="en" lang="en">About this website</span>
                </a>
                <a class="sitelink" href="~/help/">
                    <span class="icon fas fa-question-circle"></span>
                    <span class="ga" lang="ga">Conas an suíomh seo a úsáid</span>
                    <span class="en" lang="en">How to use this website</span>
                </a>
                <a class="sitelink" href="#">
                    <span class="icon fas fa-comment"></span>
                    <span class="ga" lang="ga">Cuir ceist téarmaíochta</span>
                    <span class="en" lang="en">Ask a terminological question</span>
                </a>
                <a class="sitelink" href="~/download/">
                    <span class="icon fas fa-download"></span>
                    <span class="ga" lang="ga">Liostaí le híoslódáil</span>
                    <span class="en" lang="en">Downloadable lists</span>
                </a>
                <a class="sitelink" href="~/widgets/">
                    <span class="icon fas fa-window-maximize"></span>
                    <span class="ga" lang="ga">Ábhar do shuíomhanna eile</span>
                    <span class="en" lang="en">Content for other websites</span>
                </a>
            </div>
            <div class="externalinks">
                <a class="tearma" href="~/"><img src="~/furniture/minilogo-tearma.png"/>&nbsp;téarma.ie</a> <span class="sep">|</span> <a class="focloir" href="https://www.focloir.ie/" target="_blank"><img src="~/furniture/minilogo-focloir.png"/>&nbsp;foclóir.ie</a> <span class="sep">|</span> <a class="teanglann" href="https://www.teanglann.ie/" target="_blank"><img src="~/furniture/minilogo-teanglann.png"/>&nbsp;teanglann.ie</a> <span class="sep">|</span> <a class="minor gaois" href="https://www.gaois.ie/"  target="_blank"><img src="~/furniture/gaois-blue.png"/>&nbsp;gaois.ie</a> <span class="sep">|</span> <a class="minor logainm" href="https://www.logainm.ie/" target="_blank"><img src="~/furniture/logainm-blue.png"/>&nbsp;logainm.ie</a>
            </div>
        </div>
    </div>

	</body>
</html>
